typeattribute qti_init_shell data_between_core_and_vendor_violators;

allow qti_init_shell proc_boot_reason:file { open read };
allow qti_init_shell bluetooth_data_file:file r_file_perms;
