allow vold proc_touchpanel:dir r_dir_perms;
allow vold tee_device:chr_file {ioctl open read write};
allow vold vendor_file:file { getattr open read };
