allow wcnss_service property_socket:sock_file { write };
allow wcnss_service init:unix_stream_socket { connectto };
allow wcnss_service system_prop:file { getattr open read };
