service vendor.fastboot-default /system/bin/hw/android.hardware.fastboot-service.xiaomi_onclite_recovery
    class hal
    seclabel u:r:hal_fastboot_default:s0
    user system
    group system
    interface aidl android.hardware.fastboot.IFastboot/default
